In [142]:
import pandas as pd

In [143]:
df = pd.read_csv('excel.csv',sep=';')

In [144]:
df.head(3)

,users_id,posts_id,like_date,user_name,email,signup_date,content,post_date,topic_id,topic_name,description
0,217,3517,13/01/2025,Cameron Perez,pagenathaniel@example.net,08/02/2025,Ok age performance action drug start choose ra...,01/02/2025,14,miss,Character effort color my which policy control...
1,1678,6539,19/01/2025,Eric Nguyen,alisonklein@example.org,15/02/2025,Nice game play poor least democratic name kitc...,05/02/2025,4,everybody,Kid young Democrat week.
2,4456,926,13/02/2025,Brandon Lara,shawn30@example.net,04/02/2025,Certain task win standard rock face fish feeli...,22/02/2025,13,loss,Skin police agreement father.

In [145]:
Post = df.loc[:,['posts_id','post_date','topic_id','content']]

In [146]:
Post.head(3)

,posts_id,post_date,topic_id,content
0,3517,01/02/2025,14,Ok age performance action drug start choose ra...
1,6539,05/02/2025,4,Nice game play poor least democratic name kitc...
2,926,22/02/2025,13,Certain task win standard rock face fish feeli...

In [147]:
Post.columns=['id','date', 'topic_id', 'content']

In [148]:
len(Post)

15000

In [149]:
Post.drop_duplicates(subset='id',inplace=True)

In [150]:
Post.head(3)

,id,date,topic_id,content
0,3517,01/02/2025,14,Ok age performance action drug start choose ra...
1,6539,05/02/2025,4,Nice game play poor least democratic name kitc...
2,926,22/02/2025,13,Certain task win standard rock face fish feeli...

In [151]:
len(Post)

7758

In [152]:
User = df.loc[:,['users_id','user_name','email','signup_date']]

In [153]:
User.head(3)

   users_id      user_name                      email signup_date
0       217  Cameron Perez  pagenathaniel@example.net  08/02/2025
1      1678    Eric Nguyen    alisonklein@example.org  15/02/2025
2      4456   Brandon Lara        shawn30@example.net  04/02/2025

In [154]:
User.columns=['id','name', 'email', 'signup_date']

In [155]:
User.drop_duplicates(subset='id',inplace=True)

In [156]:
len(User)

4743

In [157]:
User.head(3)

     id           name                      email signup_date
0   217  Cameron Perez  pagenathaniel@example.net  08/02/2025
1  1678    Eric Nguyen    alisonklein@example.org  15/02/2025
2  4456   Brandon Lara        shawn30@example.net  04/02/2025

In [158]:
Topic = df.loc[:,['topic_id','topic_name','description']]

In [159]:
Topic.columns=['id','topic_name', 'description']

In [160]:
Topic.drop_duplicates(subset='id',inplace=True)

In [161]:
len(Topic)

20

In [162]:
Topic.head(3)

   id topic_name                                        description
0  14       miss  Character effort color my which policy control...
1   4  everybody                           Kid young Democrat week.
2  13       loss                      Skin police agreement father.

In [163]:
User_Post = df.loc[:,['users_id','posts_id','like_date']]

In [164]:
User_Post.insert(0, 'id', range(1, len(User_Post) + 1))

In [165]:
User_Post.head(3)

   id  users_id  posts_id   like_date
0   1       217      3517  13/01/2025
1   2      1678      6539  19/01/2025
2   3      4456       926  13/02/2025

In [166]:
User_Post.columns=['id','user_id', 'post_id','like_date']

In [167]:
User_Post.head(3)

   id  user_id  post_id   like_date
0   1      217     3517  13/01/2025
1   2     1678     6539  19/01/2025
2   3     4456      926  13/02/2025

In [168]:
from sqlalchemy import create_engine

In [169]:
engine = create_engine('sqlite:///socialmedia.db')

In [170]:
User.to_sql('user', con =engine, if_exists='replace', index=False)

4743

In [171]:
Post.to_sql('post', con =engine, if_exists='replace', index=False)

7758

In [172]:
Topic.to_sql('topic', con =engine, if_exists='replace', index=False)

20

In [173]:
User_Post.to_sql('user_post', con =engine, if_exists='replace', index=False)

15000

In [174]:
engine.dispose()